{% extends 'covid19/base.html' %}

{% block content %}

<br>
<br>
<br>
<h1 style="text-align:center"> Patients</h1>
<br>
<br>
<table class="table">
  <thead class="table-dark">
    <tr>
        <th scope="col">LastName</th>
        <th scope="col">FirstName</th>
        <th scope="col">Contact No.</th>
        <th scope="col">Barangay</th>
        <th scope="col">Street</th>
        <th scope="col">House No.</th>
        <th scope="col">City</th>
        <th scope="col">Age</th>
        <th scope="col">Date of Birth</th>
        <th scope="col">Vaccine Name</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td>Kumar</td>
        <td>Phrim</td>
        <td>9097291383</td>
         <td>Lasang</td>
         <td>Tambogon</td>
         <td>12</td>
         <td>Davao</td>
         <td>40</td>
         <td>21-Apr-71</td>
         <td>Sinopharm</td>
    </tr>
    <tr class="table-danger">
         <td>Wilson</td>
         <td>Andrew</td>
         <td>9097291388</td>
         <td>Bunawan</td>
         <td>Maduo</td>
         <td>65</td>
         <td>Davao</td>
         <td>38</td>
         <td>22-Apr-83</td>
         <td>Phyzer</td>
    </tr>
    <tr>
         <td>Khan</td>
         <td>Sandra</td>
         <td>9097291385</td>
         <td>Tibungco</td>
         <td>Mahilum</td>
         <td>55</td>
         <td>Davao</td>
         <td>60</td>
         <td>23-Jan-62</td>
         <td>AstraZeneca</td>
    </tr>
  <tr class="table-danger">
      <td>Bogut</td>
      <td>Andrew</td>
      <td>9097291388</td>
      <td>Buhangin</td>
      <td>Communal</td>
      <td>65</td>
      <td>Davao</td>
      <td>38</td>
      <td>22-Apr-83</td>
      <td>Phyzer</td>
  </tr>
  </tbody>
</table>

{% endblock %}



